#epibanner {
    width: 100vw;
}

#introsection {
    background-color: rgb(233, 233, 83);
}

.card {
    margin-top: 3%;
    background-color: transparent;
    text-align: center;
    font-family: poppins;
    border: none;
}

.callout, .large {
    background-color: transparent;
    border: none;
    margin-top: 3%;
    padding: .5rem;
    margin-right: 2%;
}


.intro {
    background: rgba(136, 136, 136, 0.3);
  
}

h2 {
    font-family: permanent marker;
    font-size: 2.4rem;
    text-align: center;
}

#introtext {
    text-align: left;
    font-family: poppins;
}

#wires {

    width: 100%;
}


#infosection {
    background-color: white;
}


#concludesection {
    background-color: rgb(233, 233, 83);
}


.topbar-responsive {
    background: #2c3840;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgb(233, 233, 83);
  }
  
  .topbar-responsive .topbar-responsive-logo {
    color: #fefefe;
    vertical-align: middle;
  }
  
  .topbar-responsive .menu {
    background: #2c3840;
  }
  
  .topbar-responsive .menu li:last-of-type {
    margin-right: 0;
  }
  
  .topbar-responsive .menu a {
    color: #fefefe;
    transition: color 0.15s ease-in;
  }
  
  .topbar-responsive .menu a:hover {
    color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu a {
      padding: 0.875rem 0;
    }
  }
  
  .topbar-responsive .menu .topbar-responsive-button {
    color: #fefefe;
    border-color: #fefefe;
    border-radius: 5000px;
    transition: color 0.15s ease-in, border-color 0.15s ease-in;
  }
  
  .topbar-responsive .menu .topbar-responsive-button:hover {
    color: #c6d1d8;
    border-color: #c6d1d8;
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive .menu .topbar-responsive-button {
      width: 100%;
      margin: 0.875rem 0;
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive {
      padding: 0.75rem;
    }
    .topbar-responsive .top-bar-title {
      position: relative;
      width: 100%;
    }
    .topbar-responsive .top-bar-title span {
      position: absolute;
      right: 0;
      border: 1px solid #fefefe;
      border-radius: 5px;
      padding: 0.25rem 0.45rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
    }
    .topbar-responsive .top-bar-title span .menu-icon {
      margin-bottom: 4px;
    }
  }
  
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @keyframes slideDown {
    0% {
      -webkit-transform: translateY(-100%);
              transform: translateY(-100%);
    }
    100% {
      -webkit-transform: translateY(0%);
              transform: translateY(0%);
    }
  }
  
  @media screen and (max-width: 39.9375em) {
    .topbar-responsive-links {
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      -webkit-animation-duration: 0.5s;
              animation-duration: 0.5s;
      width: 100%;
      -webkit-animation: fadeIn 1s ease-in;
              animation: fadeIn 1s ease-in;
    }
  }































